<!-- HEADER ############################################### -->

<section id="header">

    <div class="row">
    
      <div class="twelve columns centered">
      
      	<!-- Logo --> 
      
      	<a href="http://tilt.photos/"><h1 class="fade1 logo"><img width="150" src="images/index/logo.png" alt="Logo"></h1></a>
      	<!-- <p>Unique photo animations that can tilt.</p> -->
      	<!-- Title --> 
             
        <h2 class="fade2">Is the exciting <span class="span-green">new</span> social network that takes 10 photos and turns them into an <span class="span-pink">animation</span> that can <span class="span-blue">tilt</span> in your hand.</h2>  
        
        <!-- Button--> 

      	<!-- <a class="button fade3" href="#footer">We've just launched!</a> -->
        <a href="https://itunes.apple.com/app/tilt./id852049459?mt=8"><img width="200" src="images/index/app_store_badge.png" alt="Download on the App Store"></a>
        <!-- <a href="#"><img class="appStore" src="img/appstore.svg" width="250"></a> -->
        
      </div>     
      
      <!-- Image coming from the bottom --> 
      
      <img class="picture centered" alt="hero" src="images/index/girls.png">      
      
    </div>

</section>

<!-- END HEADER ############################################### -->


<div id="container" class="container">


<div id="cbp-so-scroller" class="cbp-so-scroller"> <!-- HERE IS THE DIV FOR SCROLLING EFFECT -->

<!-- FIRST SECTION ############################################### -->

<section class="cbp-so-section">

	<div class="row">
		
		<div class="six columns cbp-so-side cbp-so-side-left">
		
			<!-- Title --> 
		
			<h3>Imagine if photos could <span class="span-pink">react</span> to your hand movements?</h3>
			
			<!-- Content --> 
			
			<p>That is the question we asked ourselves, and Tilt is the result. It's a completely new visual medium, and a whole new way to express your creativity.</p>
		
		</div>
	
		<!-- Image from right --> 
	
		<div class="six columns cbp-so-side-img cbp-so-side-right">
		
			<img src="images/index/launch-video.jpg" alt="video coming soon!">
			<!-- <iframe width="422" height="237" src="http://www.youtube-nocookie.com/embed/nCjsWpM9zFU?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe> -->
		</div>

	</div>

</section>

<!-- END FIRST SECTION ############################################### -->



<!-- SECOND SECTION ############################################### -->

<section class="cbp-so-section" >

	<div class="row">
	
	
		<div class="seven columns cbp-so-side cbp-so-side-right" style="float:right;">
		
			<!-- Title --> 
		
			<h3>Simply tilt your phone left or right to <span class="span-blue">animate</span> your photos</h3>
			
			<!-- Content --> 
			
			<p>Tilt a simple and effective way to create moments that feel alive. By tilting your phone left or right, the image reacts to your hand movements so you feel like you are controlling it - that you are making the pictures “move”. A tilt photo feels more like a “window” than a photo. A window into that moment in time, one that you can relive over and over again. Kind of like “living pictures”.</p>
			
		</div>		
		
		<!-- Image from left --> 
		
		<div class="five columns cbp-so-side-img cbp-so-side-left" >
			
			<img src="images/index/hand-rotate.jpg" alt="rotate your phone to tilt the photo" width="320px">
						
		</div>	
		
		
	</div>

</section>

<!-- END SECOND SECTION ############################################### -->

<!-- FIRST SECTION ############################################### -->

<section class="cbp-so-section">

	<div class="row">
		
		<div class="six columns cbp-so-side cbp-so-side-left">
		
			<!-- Title --> 
		
			<h3>Make breathtaking <span class="span-pink">panoramas</span>, photo collages or funny animations.</h3>
			
			<!-- Content --> 
			
			<p>It is the perfect tool when 1 photo is just not enough. When you want to share a moment, now you can - from 10 different angles. Capture those little details that would otherwise be missed and forgotten forever.</p>
		
		</div>
	
		<!-- Image from right --> 
	
		<div class="six columns cbp-so-side-img cbp-so-side-right">
		
			<img src="images/index/panorama-kombi.jpg" alt="capture panoramic views with Tilt">
		
		</div>

	</div>

</section>

<!-- END FIRST SECTION ############################################### -->



<!-- SECOND SECTION ############################################### -->

<section class="cbp-so-section" >

	<div class="row">
	
	
		<div class="six columns cbp-so-side cbp-so-side-right" style="float:right;">
		
			<!-- Title --> 
		
			<!-- <h3>Add beautiful <span class="span-blue">filters</span>, then share your photos with friends.</h3> -->
			<h3>Point, shoot, animate. It’s <span class="span-blue">easy</span> to make tilt photos</h3>
			
			<!-- Content --> 
			
			<p>Making a tilt photo animation is easy. With our camera, you can take photos or select photos from your photo albums. There are small thumbnails underneath the camera view that show you the order of your sequence. Preview the sequence as a Tilt animation, and add one of our beautiful photo filters if you like. Then add a caption then post it to your followers.</p>
			
		</div>		
		
		<!-- Image from left --> 
		
		<div class="six columns cbp-so-side-img cbp-so-side-left" >
			
			<img src="images/index/camera-flow.jpg" alt="Select image, apply filter, then share">
						
		</div>	
		
		
	</div>

</section>

<!-- END SECOND SECTION ############################################### -->

<!-- FIRST SECTION ############################################### -->

<section class="cbp-so-section">

	<div class="row">
		
		<div class="six columns cbp-so-side cbp-so-side-left">
		
			<!-- Title --> 
		
			<h3>Create a profile. Follow your friends. <span class="span-pink">Explore</span> tilt photos!</h3>
			
			<!-- Content --> 
			
			<p>It’s fun to make Tilt animations, but it’s also lots of fun seeing what other people create as well. In the Explore tab, you can see what’s new from around the world. See how other people are using Tilt and be inspired by their creativity!</p>
		
		</div>
	
		<!-- Image from right --> 
	
		<div class="six columns cbp-so-side-img cbp-so-side-right">
		
			<img src="images/index/explore-profile.jpg" alt="Explore profiles and tilt images">
		
		</div>

	</div>

</section>

<!-- END FIRST SECTION ############################################### -->



<!-- SECOND SECTION ############################################### -->

<section class="cbp-so-section" >

	<div class="row">
	
	
		<div class="six columns cbp-so-side cbp-so-side-right" style="float:right;">
		
			<!-- Title --> 
		
			<h3>Share and view your photos on the <span class="span-blue">web</span>, at <a href="http://tilt.photos/">tilt.photos</a></h3>
			
			<!-- Content --> 
			
			<p>You can view your tilt animation on a webpage, and share the link on Facebook and Twitter for your friends to see. You can also embed the tilt photo on your own blog or website with our custom embed code.</p>
			
		</div>		
		
		<!-- Image from left --> 
		
		<div class="six columns cbp-so-side-img cbp-so-side-left" >
			
			<img src="images/index/website.jpg" alt="view your tilt photo on a webpage">
						
		</div>	
		
		
	</div>

</section>

<!-- END SECOND SECTION ############################################### -->

<!-- TIRTH SECTION ############################################### -->

<section class="cbp-so-section">

	<div class="row">
		
		<div class="seven columns cbp-so-side cbp-so-side-left">
		
			<!-- Title --> 
		
			<h3>Do more than share a photo. Share a <span class="span-pink">story</span>.</h3>
			
			<!-- Content --> 
			
			<p>If you love sharing moments of your life with photos, then we think you are going to love what Tilt can do. It's the perfect tool when 1 photo is just not enough to capture everything you want to say. <a href="#">Download Tilt on the App Store for free and try it out for yourself today!</a></p>
		
		</div>
	
		<!-- Image from right --> 
		
		<div class="five columns cbp-so-side-img cbp-so-side-right">
		
			<img src="images/index/tilt-iphone.jpg" alt="tilt for iphone">
		
		</div>

	</div>

</section>

<section class="cbp-so-section">

	<div class="row" style="text-align: center;">

		<a href="https://itunes.apple.com/app/tilt./id852049459?mt=8"><img width="200" src="images/index/app_store_badge.png" alt="Download on the App Store"></a>

	</div>

</section>
<!-- END TIRTH SECTION ############################################### -->


</div> <!-- end of div scrolling effect -->



<!-- SIGN UP SECTION ############################################### -->

<section id="signup">

	<div class="row">
	
		<!-- Title --> 
		
		<div class="seven columns centered">
		
			<h2>Get the inside scoop on Tilt!</h2>
			
			<!-- Begin the Form --> 
			
			<form action="/" method="post">  
			
			<!-- Input of E-Mail --> 

			<div class="eight columns">
		
				<input name="email" class="email" type="text" placeholder="YOUR E-MAIL ADDRESS">
			
			</div>
			
			<!-- Send Button -->
			
			<div class="four columns">
			
				 <button name="send" type="submit" class="submit">SIGN UP FOR NEWSLETTER</button>
			
		    </div>
		    
		    <!-- End of the Form --> 
			 
			</form> 
			

		</div>

		<!-- Text Promise we do not spam -->

		<div class="twelve columns centered">
		
		<p class="spam">Just the occasional email. Written by us. Definitely no spam.</p>
		
		</div>

	</div>

</section>

<!-- END SIGN UP SECTION ############################################### -->


<!-- FOOTER SECTION ############################################### -->

<section id="footer">

	<div class="row">

		<!-- Text from left -->
		
		<div class="seven columns pull_left">
		
			<p>© 2014 Garrett Strauss Records Pty Ltd.<br>Made with <i class="icon" data-icon="&#x2665;"></i> on the Gold Coast, Australia.</p>

		</div>

		<!-- Social Icon : You can found how to use them on Fonts Folder / Metrize HOW TO -->

		<div class="five columns text-right social">
		
		    <a href="https://www.facebook.com/TiltApp" target="_blank"><i class="icon" data-icon="&#xe045;"></i></a>
    
          	<a href="https://twitter.com/tiltapp1" target="_blank"><i class='icon' data-icon="&#xe033;"></i></a>
   
          	<a href="https://www.youtube.com/user/TiltApp" target="_blank"><i class='icon' data-icon="&#xe02c;"></i></a>
          
          	<a href="mailto:team@tilt.photos?Subject=Website%20inquiry" target="_blank"><i class='icon' data-icon="&#xe048;"></i></a>
          	
		</div>


	</div>

</section>


<!-- END FOOTER SECTION ############################################### -->


</div> <!-- end of container -->
