!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head(prefix="og: http://ogp.me/ns#")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title="Weather Dashboard"
    meta(name="description", content="Weather Dashboard.")
    meta(name="author", content="cyril MAUREL")
    meta(name="viewport", content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.5/css/weather-icons.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

  body
    #global
      header
        a(href="/") <i class="fa fa-home"></i> Home
        = " - "
        a(href="/settings") <i class="fa fa-wrench"></i> Settings

      block content

      block footer
          script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
          script
            window.jQuery || document.write('<script src="js/jquery.js"><\\/script>')
          script(defer, src='/js/main.js')
          script(defer, src='/js/plugins.js')         
          script(defer, src='/js/jquery.browser.mobile.js')