extends layout

block content
  h1 Settings

  h2 Search and add a widget
  // Search
  #search
    input(type="text", id="input-search", placeholder="Montpellier")
    span(id="button-search")!= '<i class="fa fa-search"></i>Search'
    div#results

  h2 Manage your widgets
  // Display the Widgets already saved by the user
  ul#widgetlisthome
  
  span(id="deleteall")!= '<i class="fa fa-exclamation-triangle"></i>Delete All Widgets'        

append footer
  script(defer, src='/js/settings.js')         

