/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
/*	background-image: url('/images/subtle_dots_@2X.png');
	background-size:27px 15px;*/
	background-color: #F3F3F3;
}
.embed-body {
	background-image: none;
	background-color: rgba(255, 255, 255, 0);
}

img { 
	max-width: 100%;
	height: auto;
}

.container {
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: white;
	border: solid 1px #efefef;
	border-radius: 5px;
	width: 920px;
	overflow: hidden;
}

.embedcontainer {
	margin:0 auto;
	background-color: white;
	max-width: 600px;
	overflow: hidden;
	border: solid 1px #efefef;
	border-radius: 5px;
}

.column {
	margin: 0 !important;
}

.doc {
	padding: 25px 30px;
}

	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: Helvetica, sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 28px; line-height: 30px; margin-bottom: 14px;}
	h2 { font-size: 22px; line-height: 24px; margin-bottom: 10px; }


/* #Page Styles
================================================== */

.embed-sidebar, .sidebar {
	height: 620px;
}
.embed-sidebar {
	height: inherit;
	padding: 10px 15px;
	position: relative;
	min-height: 50px;
}

.photo {
	overflow: hidden;
}
.embed-photo {
	position: relative;
}


.embed-profile, .profile {
	border-radius: 40px;
	width: 80px;
	height:80px;
	background-size: 80px 80px;
	margin: 15px auto 0 auto;
}
.embed-profile {
	width: 50px;
	height: 50px;
	margin: 0;
	position: absolute;
}
.embed-avatar {
	border-radius: 40px;
	width: 50px;
	height:50px;
	display: inline-block;
}

.embed-caption, .caption {
    border-bottom: 1px solid #efefef;
    padding: 10px;
    font-size: 15px;
    padding: 10px 30px;
    line-height: 1.3em;
    text-align: center;
    max-height: 250px;
    overflow: scroll;
}
.embed-caption {
	border: none;
	padding: 0 0 0 66px;
	text-align: left;
	vertical-align: top;
}
.embed-caption p {
	margin: 0;
	line-height: 1.3em;
}
.embed-username {
	font-weight: bold;
}

.embed-timeago, .timeago {
    color: #999999;
    font-size: 13px;
}


.share-buttons {
	text-align: center;
	margin: 8px 0;
}
.embed-share-buttons {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	margin: -56px 0 0 0;
}

.share-button {
	padding: 5px 8px;
	display: inline-block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-size: 42px 40px;
	background-repeat: no-repeat;
	background-position: 8px 5px;
}
.share-button {
	padding: 5px 8px;
	display: inline-block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	background-size: 41px 40px;
	background-repeat: no-repeat;
	background-position: 8px 5px;
}
.embed-share-buttons .share-button {
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	background-position: 8px 5px;

}


.share-buttons a, .embed-share-buttons a {
	text-decoration: none;
	vertical-align: top;
}
.share-buttons .facebook, .embed-share-buttons .facebook {
	background-image: url('/images/socialicons/facebook.png');
}
.share-buttons .twitter, .embed-share-buttons .twitter {
	background-image: url('/images/socialicons/twitter.png');
}
.share-buttons .embed, .embed-share-buttons .embed {
	background-image: url('/images/socialicons/embed.png');
}
.share-buttons .email, .embed-share-buttons .email {
	background-image: url('/images/socialicons/email.png');
}
.logo {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
	font-size: 13px;
	width: 260px;
}



.embed-sharecontainer {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(37, 37, 37, 0.85);
	z-index: 9999;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

.embed-logo {
	position: absolute;
	bottom: 15px;
	right: 15px;
	background-image: url('/images/logo_embed.png');
	background-repeat: no-repeat;
	background-size: 80px 44px;
	width: 80px;
	height: 44px;
}

.embed-link {
	text-decoration: none;
	color: #999999 !important;
	font-size: 13px;
	cursor: pointer;
}
.embed-link:hover {
	text-decoration: underline;
}
.separator {
	padding: 0 6px;
}


.tiltslidebar {
	width: calc(100% - 10px) !important;
	margin: 3px 5px !important;
}




.control-embed-container {
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #2c3e50;
	font-family: Helvetica, Arial, sans-serif;
	color: white;
}
.control-embed-container h1 {
	font-size: 48px;
	color: #34495e;
	margin: 0;
	padding: 0 0 1px 0;
	font-weight: bold;
}
.control-embed-container .size-selector {
	display: table;
	margin: 40px 0 40px 0;
}
.control-embed-container .size-selector a {
	display: table-cell;
	width: 100px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-size: 22px;
}

.control-embed-container .size-selector a:hover {
	text-decoration: underline;
}

.control-embed-container .size-selector .selected {
	color: #3C88D9;
}

.control-embed-container .size-selector .separator {
	display: table-cell;
	text-align: center;
	width: 50px;
	color: white;
	font-size: 35px;
	vertical-align:middle;
}

.embed-code {
	resize: none;
	width: 230px;
	height: 150px;
	padding: 10px;
	overflow: hidden;
	border: none;
	color: #E7E7E7;
	background-color: #34495e;
	font-size: 16px;
	border-radius: 6px;
}
.embed-code:focus {
	border: none;
	outline: none;
	color: #CCC;
	box-shadow: none;
}

.control-embed-leftbar {
	display: table-cell;
	vertical-align: top;
	padding: 80px 40px 40px;
	width: 250px;
}

.control-embed-rightbar {
	display: table-cell;
	background-color: #34495e;
	text-align: center;
	vertical-align: middle;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.container {
			width: 728px;
		}
		.sidebar {
			height: 492px;
		}
		.logo {
			width: 196px;
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.embed-caption, .caption {
			max-height: 115px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.container {
			width: 728px;
		}

		.sidebar {
			height: auto;
		}
		.logo {
			margin-top: 20px;
			position: relative;
		}
		.logo img {
			width: 80px;
			height: 80px;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 481px) and (max-width: 767px) {
		.container {
			width: 420px;
		}
		.logo { 
			width: 380px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 480px) {
		.container {
			width: 300px;
		}
		.logo {
			width: 260px;
		}
		.embed-logo {
			background-size: 60px 32px;
			width: 60px;
			height: 32px;
		}
	}

	@media only screen and (max-width: 320px) {
		.embed-logo {
			background-size: 40px 22px;
			width: 40px;
			height: 22px;
		}
	}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/